.App {
  text-align: center;
}

.bt1
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
}

.homy
{
  background-color: rgb(216, 162, 162);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li{
  float: left;
  margin: 20px;
}

.activeyt{
  color: red;
}


img{
  width: 80px;
  height: 80px;
  margin-right: 300px;
}

.formy
{
  padding: 20px;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin-left: 70px;
  margin-top: 80px;
}

.homy
{
  display: flex;
  justify-content: center;
}

